body { /***Added missing opening curly bracket ***/
  font-size: 14px;
}

nav {
  background-color: yellow; /*** Added missing "-" in background-color ***/
  margin-top: -10px;
  position: fixed;
} /** Added missing curly bracket **/

  /*** Added new grouping ***/
  height, width {100px;
}

section {
  margin: 0 auto;
  width: 60%;
}

.header /*** Added .header ***/ h1 {
  font-family: sans-serif; /***Added colon after font-family***/
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align center
}

h3 {
  font-size: 1.3em;
}

  
  div.feature { /***replaced ".element" with "div.feature" ***/
  background-color: green;
  margin 10px 0;
} /** Added missing curly bracket **/
  
 /*** Added new grouping ***/
  height, width {100px;
}
