body { /***Added missing opening curly bracket ***/
  font-size: 14px;
}

nav {
  background-color: yellow; /*** Added missing "-" in background-color ***/
  margin-top: -10px;
  position: fixed;
  height: 100px; /**NEW added height **/
  width: 100%; /**NEW added width **/
} /** Added missing curly bracket **/

section {
  margin: 0 auto;
  width: 60%;
}

.header /*** Added .header ***/ h1 {
  font-family: sans-serif; /***Added colon after font-family***/
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center; /**Added missing colon (:) and and semi-colon **/
}

h3 {
  font-size: 1.3em;
}
  
.element { 
  margin: 10px 0; /** Added missing colon (:) **/  
  height: 100px; /**NEW added height **/
  width: 100%; /**NEW added width **/
} /** Added missing curly bracket **/

.feature {/** NEW Removed reference to div in this code **/
  background-color: blue;
} 
